# ---- C build files ----
*.o
*.out
*.obj
*.exe
*.a
*.so
*.dll

# ---- Debug ----
*.dSYM/
*.stackdump
*.log

# ---- VSCode ----
.vscode/
.history/
*.code-workspace

# ---- OS temporary files ----
.DS_Store
Thumbs.db
